*{margin: 0;
padding: 0;
font-family: "Microsoft yahei";
}


/*1、去除chrome等浏览器默认发光边框*/

 input:focus, textarea:focus {
	 outline: none;
 }
/*这样textarea在选中的时候，文字会有点移动，解决方法：*/
input:focus, textarea:focus {
	outline: none;
	　　　　border: 1px solid #ccc;/*跟进textarea背景颜色来定*/
}

/*这样也可以解决更改选中时的颜色值，已达到给用户反馈的效果*/
/*2、去除IE10+浏览器文本框后面的小叉叉*/
 input::-ms-clear {
	 display: none;
 }

/*3、禁止多行文本框textarea拖拽*/
 textarea {
	 resize: none;
 }
/*这样就不能放大缩小*/


 .clearfix::after{
        content: "";
        display: block;
		clear: both;
    }

.heAder
{
	width: 100%;
	min-width: 1171px;
	background: url(../img/Ornament.png) repeat-x;
	position: relative;
	height: 869px;
	float: left;
}

.content
{
	margin: 0 auto;
	width: 1171px;

}

.heAder .content .nav
{
	width: 100%;
	height: 35px;
	padding-top: 28px;
	position: relative;
}

.heAder .content .nav .navList
{
	display: inline-block;
	list-style: none;
	padding-left: 247px;
	
}

.heAder .content .nav a
{
	text-decoration: none;
	color: #252525;
}
.heAder .content .nav .navList li
{
	float: left;
	text-align: center;
}



.heAder .content .nav .navList li .menu
{
	display: block;
	width: 124px;
}

.heAder .content .nav .navList li  div
{
	opacity: 0;
	margin: 0 auto;
	position: relative;
	top: 8px;
	width: 44px;
	border-bottom: 2px solid #9376df;
}

.heAder .content .nav .navList li:hover .menu
{
	color:#9376df;
}

.heAder .content .nav .navList li:hover div
{
	opacity: 100;
}

.heAder .content .nav .rightButton a{
	text-align: center;
	border: 1px solid #b6b6b6;
	border-radius:6px;
	display: inline-block;
	width: 170px;
	height: 48px;
	line-height: 48px;
	position: absolute;
	color:#9376df ;
}

.content .nav .rightButton:hover a{
	border-color:#252525;
	background: #ffffff;
}

.heAder .searchInput
{
	margin-top: 228px;
	width: 700px;
}

.heAder .searchInput h1
{
	font-size: 55px;
	font-weight: 500;
}

.heAder .searchInput p
{
	width: 334px;
	margin-top: 35px;
	font-size: 16px;
	color: #6b6b6b;
	line-height: 30px;
}


.heAder .searchInput  .font
{
	margin-top: 50px;
	position: relative;
}
 .font .ba 
{
	margin-left: 15px;
	position: absolute;
	display: inline-block;
	width: 210px;
	height: 62px;
	background: #8a6cda;
	border-radius: 8px;
	line-height: 62px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	-moz-box-shadow:5px 10px  15px #e5e0f3;
	-webkit-box-shadow:5px 10px  15px #e5e0f3; 
	box-shadow:5px 10px  15px #e5e0f3;
}
.heAder .searchInput  .font .inpurs
{
	background: url(../img/buttn.png) no-repeat 272px center #f8f8f8;
	text-indent: 2em;
	width: 325px;
	height: 62px;
	font-size: 17px;
	color: #909090;
	border: 1px solid #f8f8f8;
	border-radius: 8px; 
	cursor: pointer;
	appearance:none;   
	 -moz-appearancem:none;   
	-webkit-appearance:none; /*兼容苹果手机*/
	-ms-appearance:none; 
 	outline:none;     
	-webkit-tap-highlight-color: #fff;
	line-height: rem(50);
	/*防止紧紧靠在边上*/
	-moz-user-select: none; /*火狐*/
	-webkit-user-select: none; /*webkit浏览器*/
	-ms-user-select: none; /*IE10*/
	-khtml-user-select: none; /*早期浏览器*/
	user-select: none;
}



 .inpurs::-ms-expand { display: none; }

.heAder .content .msg
{
	border: 1px solid #e6e6e6;
	margin-top: 185px;
	margin-left: auto;
	margin-right: auto;
	width: 468px;
	height: 89px;
	background: #fff;
	border-radius: 80px; 
}
.heAder .content .msg .msg-c a
{
	font-size: 14px;
	text-decoration: none;
	color: #9e9e9e;
}

.heAder .content .msg .msg-c
{
	text-align: center;
	width: 156px;
	height: 89px;
	padding-top: 29px;
	float: left;
}


.heAder .content .msg .msg-c h6
{
	font-size: 16px;
}

.main-top
{
	float: left;
	min-width: 1171px;
	border: 1px solid #e5e5e5;
	border-left: none;
	border-right: none;
	border-top: none;
	width: 100%;
	height: 838px;
	background: #fbfbfb;
}

.main-top .mainTo
{
	text-align: center;
	padding-top: 150px;
	position: relative;
}

.main-top .mainTo .list
{
	padding-top: 120px;
}

.main-top .mainTo .list .listul
{
	float: left;
	list-style: none;
	margin-right: 50px;
}

.main-top .mainTo .list .listul  .lista
{
	text-decoration: none;
	display: block;
	color: #252525;
	width: 318px;
	height: 91px;
	border: 1px solid transparent;
	transition:ease 0.2s;

}

.main-top .mainTo .list .listul  .lista span
{
	padding-top: 25px;
	padding-left: 21px;
	width: 318px;
	height: 35px;
	line-height: 35px;
	display: block;
	background: url(../img/homepage_v1.png) no-repeat 21px 25px;
	text-align: left;
	text-indent: 4em;
}

.main-top .mainTo .list .listul  .lista p
{
	
	padding-top: 15px;
	padding-left: 80px;
	display: none;
	width: 252px;
	font-size: 12px;
	color: #6b6b6b;
	text-align: left;
}

.main-top .mainTo .list .listul  .lista:hover
{
	box-shadow:0px 0px 30px 5px #ededed;
	-moz-box-shadow:0px 0px 30px 5px #ededed;
	-webkit-box-shadow:0px 0px 30px 5px #ededed; 
	transition:ease 0.3s;
	width: 377px;
	height: 162px;
	position: relative;
	left: -21px;
	background: #FFFFFF;
	border: 1px solid #FFFFFF;
	border-radius: 6px;

}

.main-top .mainTo .list .listul  .lista:hover p
{
	display: block;
}


.main-top .mainTo  .listto
{
	position: relative;
}
.main-top .mainTo  .listto .ba
{
	display: block;
	margin-top: 43px;
	margin-left: 440px;
	float: left;
/* 	left:450px;
	top: 405px; */
	width: 210px;
	height: 62px;
	background: #9376df;
	border-radius: 8px;
	line-height: 62px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	-moz-box-shadow:5px 10px  15px #ede9f7;
	-webkit-box-shadow:5px 10px  15px #ede9f7; 
	box-shadow:5px 10px  15px #ede9f7;
}

.main-content
{
	float: left;
	min-width: 1171px;
	width: 100%;
	height: 926px;
}
.main-content .mainTo
{
	text-align: center;
	padding-top: 106px;
	
}

.main-content .mainTo h2
{
	font-size: 32px;
}
.main-content .mainTo img
{
	margin-top: 77px;
}


.main-content .content .msg
{
	
	margin-top: 72px;
	margin-left: 296px;
	margin-right: 296px;
	
	height: 89px;
	background: #fff;

}


.main-content .content .msg .msg-c
{
	padding-right: 78px;
	text-align: left;
	width: 115px;
	height: 89px;
	padding-top: 29px;
	float: left;
}

.main-content .content .msg .msg-c a
{
	font-size: 14px;
	text-decoration: none;
	color: #9e9e9e;
}




.main-content .content .msg .msg-c h6
{
	font-size: 26px;
}

.main-content .mainTo .butt
{
margin-left: 475px;
	margin-top: 78px;
	display: block;
	width: 210px;
	height: 62px;
	background: #8a6cda;
	border-radius: 8px;
	line-height: 62px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	-moz-box-shadow:5px 10px  15px #e5e0f3;
	-webkit-box-shadow:5px 10px  15px #e5e0f3; 
	box-shadow:5px 10px  15px #e5e0f3;
}

.main-contento
{
	float: left;
	width: 100%;
		min-width:1171px;
	height: 635px;
	border-top: 1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5;
	background: #fbfbfb;
}

.main-contento .mainTo
{
	text-align: center;
}

.main-contento .mainTo h1
{
	margin-top:102px ;
	font-size: 32px;
}

.main-contento .mainTo .list
{
	height: 301px;
	margin-top: 98px;
	text-align: left;
}



.main-contento  .toost
{
	width: 727px;
	height: 93px;
	margin: 0 auto;
	border-bottom: 1px solid #e4e4e4;
}




.main-contento .mainTo .list .listtast
{
	height: 208px;
}

.main-contento .mainTo .list .listtast .cont
{
	position: relative;
	width:264px;
	text-align: center;
	float:left;
	margin-left: 20px;
	padding-top: 40px;
}

.listtast .cont .contp
{
font-size: 15px;
color: #979797;

display: inline-block;
}

.main-contento .mainTo .list .listtast .cont h1
{
font-size: 22px;
}

.main-contento .mainTo .list .listtast .cont a
{
	color: #252525;
}

.main-contento .mainTo .list .listtast .cont .tospa
{
	border-radius: 50%;
	display: inline-block;
	position: absolute;
	width: 181px;
	height: 181px;

	box-shadow:0px 0px 30px 5px #f2f2f2;
	-moz-box-shadow:0px 0px 30px 5px #f2f2f2;
	-webkit-box-shadow:0px 0px 30px 5px #f2f2f2; 
}

.imgspd
{
		background:  url(../img/Icon-01.png) no-repeat center center #fff;
}

.imgspd2
{
		background:  url(../img/Icon-02.png) no-repeat center center #fff;
}


.imgspd3
{
		background:  url(../img/Icon-03.png) no-repeat center center #fff;
}

.imgspd4
{
		background:  url(../img/Icon-04.png) no-repeat center center #fff;
}

.ward
{
	top: -90px;
	left: 45px;
}



.main-contento .mainTo .list .listtast .cont .tospa .emsp
{
	background: #fff;
	line-height: 50px;
	font-style: normal;
	display: block;
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	font-size: 22px;
	box-shadow:0px 0px 30px 5px #f2f2f2;
	-moz-box-shadow:0px 0px 30px 5px #f2f2f2;
	-webkit-box-shadow:0px 0px 30px 5px #f2f2f2; 
}


.mainFoot
{
	width: 100%;
	float: left;
	height: 460px;
	background: #fff;
	min-width:1171px;
}


.mainFoot .mainTo
{
	margin-top:103px;
	text-align: center;
	position: relative;
}

.mainFoot .posent
{
	margin: 35px auto;
	font-size: 15px;
	text-align: center;
	width: 590px;
	color: #6b6b6b;
}


.mainFoot .content .butt
{
		margin: 80px auto;
		display: block;
		width: 210px;
		height: 62px;
		background: #8a6cda;
		border-radius: 8px;
		line-height: 62px;
		text-align: center;
		text-decoration: none;
		color: #fff;
		-moz-box-shadow:5px 10px  15px #e5e0f3;
		-webkit-box-shadow:5px 10px  15px #e5e0f3; 
		box-shadow:5px 10px  15px #e5e0f3;
}



.mainFooto
{
	width: 100%;
	height: 376px;
	background: #fff;
	min-width:1171px;
	border-bottom: 1px solid #e5e5e5;
	overflow: hidden;
}

.mainFooto .box1
{
	width: 571px;
	height: 376px;
	float: left;
	background: #f1e4ca;
	border-radius: 5px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	cursor: pointer;
	
}

.mainFooto .box2
{
	background: #88b3e2;
	margin-left:29px;
}

.mainFooto .Toos
{
	margin-top: 376px;
	border-radius: 5px;

	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	width: 569px;
	height: 173px;
	background: #fff;
	border: 1px solid #e5e5e5;
	transition: margin-top 0.5s; 

}

.mainFooto .Toos .tocenter
{
	margin-left: 33px;
}

.mainFooto .box1:hover .Toos
{
	transition: margin-top 0.5s; 
	margin-top: 202px;
		
}
 
.mainFooto  .Toos .setp{
	font-size: 14px;
	color: #acacac;
	margin-top: 34px;
	margin-bottom: 16px;
}

.mainFooto  .Toos .seth{
	font-size: 21px;
}

.footBottom
{
	width: 100%;
	height: 822px;
	background: #fff;
	min-width:1171px;
	border-bottom: 1px solid #e5e5e5;
	
}

.footBottom .Tbox
{
	float: right;
	height: 822px;
	width: 587px;
	background: #fff;
}

.footBottom .Tbox h2
{
	font-size: 32px;
	margin-top: 105px;
	margin-bottom: 44px;
}

.footBottom .Tbox p
{
	font-size: 17px;
	color: #989898;
	margin-bottom: 47px;
}

.footBottom .Tbox a
{
	color: #9376df;
}

.footBottom .Tbox h1
  {
	  margin-bottom: 28px;
	  color: #9376df;
  }


.footBottom .Tbox .toosh
{
	margin-bottom: 37px;
}


.footBottom .Tbox .nameText
  {
	  text-indent: 2em;
	  width: 236px;
	  height: 61px;
	  line-height: 61px;
	  font-size: 17px;
	  border: 1px solid transparent;
	  border-radius: 10px;
	  background: #f8f8f8;
  }

.footBottom .Tbox .MessageText
{
	height: 120px;
	width: 100%;
	padding-top: 23px;
	text-indent: 2em;
	font-size: 17px;
	overflow: hidden;
	border: 1px solid transparent;
	border-radius: 10px;
	background: #f8f8f8;
	margin-top: 25px;
}


.footBottom .Tbox .butt
{
	margin-top: 25px;
	display: block;
	width: 210px;
	height: 62px;
	background: #8a6cda;
	border-radius: 8px;
	line-height: 62px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	-moz-box-shadow:5px 10px  15px #e5e0f3;
	-webkit-box-shadow:5px 10px  15px #e5e0f3;
	box-shadow:5px 10px  15px #e5e0f3;
}
.footBottom .Tbox .inpurs
{

	margin-left: 20px;
	background: url(../img/buttn.png) no-repeat 65px center #eaedef;
	height: 62px;
	line-height: 62px;
	padding-left: 18px;
	width: 107px;
	font-size: 17px;
	color: #909090;
	border: 1px solid transparent;
	border-radius: 10px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	cursor: pointer;
	appearance:none;
	-moz-appearancem:none;
	-webkit-appearance:none; /*兼容苹果手机*/
	-ms-appearance:none;
	outline:none;
	-webkit-tap-highlight-color: #fff;
/*防止紧紧靠在边上*/
	-moz-user-select: none; /*火狐*/
	-webkit-user-select: none; /*webkit浏览器*/
	-ms-user-select: none; /*IE10*/
	-khtml-user-select: none; /*早期浏览器*/
	user-select: none;
}

.footBottom .Tbox .code
{
	margin-left: -10px;
	height: 62px;
	width: 210px;
	text-indent: 2em;
	font-size: 17px;
	overflow: hidden;
	border: 1px solid transparent;
	border-radius: 10px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	background: #f8f8f8;
	margin-top: 25px;
}

.footnav
{
	width: 100%;
	height:520px;
	background: #fbfbfb;
	min-width:1171px;

}

.navshei
{
	height: 434px;
	border-bottom: 1px solid #e5e5e5;
}

.fotcenter
{
	padding-top: 104px;
}

.boxtoo
{
	float: left;
	margin-right: 168px;
}

.fotcenter .boxtoo h2
{
	font-size: 17px;
}

.fotcenter .boxtoo ul
{
	list-style: none;
	margin-top: 33px;
}

.fotcenter .boxtoo li
{
	margin-bottom:18px ;
}


.fotcenter .boxtoo a
{
	text-decoration: none;
	color: #6b6b6b;
	font-size: 15px;
}


.fotcenter .boxtoo h6
{
	font-size: 16px;
}

.content .atrm
{
	color: #c5c5c5;
	font-size: 14px;
}